# Env files
__pycache__
.env

# Temp audio & voice folder
interface/kernel/audio/speech_to_text/temp_audio
interface/kernel/audio/synthetic_voice/temp_voice

# Temp tools vector db
interface/kernel/agent_llm/rag/tools_vector_db

# Modelfile system instruction for models
modelfile

# Photo taken
photos

